@{
    ViewData["Title"] = "To test";
}
<h1>@ViewData["Title"]</h1>

<p>skripnik.petro@knu.ua - local admin can't see TEST</p>

<p>Anonymous - can't see TEST and PRIVACY</p>

<p>skripnik.petro@gmail.com - can see all</p>