@using SavageOrcs.Web.Resources
@using SavageOrcs.Web.Resources.Classes
@inject LanguageService Language
@{
    Layout = null;
}
<style>
    @@media (min-width: 900px) {
        .hidden-menu {
            position:fixed;
            display: none;
            width: 0px;
            /*width: -webkit-calc(100% - 116px);
            width: -moz-calc(100% - 116px);
            width: calc(100% - 116px);*/
            left: 116px;
            height: 100%;
            flex-direction: row;
            /*background-color: rgba(255, 41, 41, 0.4);*/
            background-color: #DEDCDC;
            color: #0F0F0F;
            top: 0px;
        }

        .hide-menu-col {
            position:relative;
            width: 28%;
            height: 100%;
            border-left: 1px solid #0F0F0F;
            display: flex;
            flex-direction:column;
            justify-content :center;
        }

        .lng-col {
            width: 16%;
            padding-top: 37px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .lng-col a {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        .lng-col a:hover {
            color: #0F0F0F;
            text-decoration-line: underline;
        }

        .hide-menu-small-text{
            position:relative;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            height: 200px;
            width: 80%;
            left: 10%;
        }

        .hide-menu-big-text{
            font-weight: 500;
            font-size: 60px;
            line-height: 60px;
            writing-mode: vertical-rl;
            transform: scale(-1, -1);
            text-align:left;
            height: 300px;
            width: 70%;
            left: 10%;
            position: relative;
        }
    }
    @@media (max-width: 450px) {
        .hidden-menu {
            position:absolute;
            display: none;
            width: 100%;
            /*width: -webkit-calc(100% - 116px);
            width: -moz-calc(100% - 116px);
            width: calc(100% - 116px);*/
            top: 59px;
/*            height: -webkit-calc(100% - 60px);
            height: -moz-calc(100% - 60px);
            height:  calc(100% - 60px);*/
            flex-direction: column;
            background-color: #FF2929;
            color: #0F0F0F;
            padding-left:16px;
            padding-right:16px;
        }

        .hide-menu-col {
            position:relative;
            width: 100%;
            height: -webkit-calc((100% -  135px)/3);
            height: -moz-calc((100% -  135px)/3);
            height:  calc((100% - 135px)/3);
            display: flex;
            flex-direction:row-reverse;
            justify-content:space-between;
            border-top: 1px solid #0F0F0F;
        }

        .hide-menu-small-text{
            position:relative;
            font-weight: 400;
            font-size: 9px;
            line-height: 130%;
            width: 40%;
            align-self: flex-end;
            padding-bottom:16px;
        }

        .hide-menu-big-text{
            font-weight: 500;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.03em;
            writing-mode: horizontal-tb;
            transform: scale(1, 1);
            text-align:left;
            width: 40%;
            position: relative;
            padding-top:16px;
        }
        .hide-menu-big-text{
            color: #0F0F0F;
            text-decoration-line: underline;
        }


        .lng-col {
            height: 103px;
            padding-top: 37px;
            width: 30%;
            border-top: 0px solid #0F0F0F;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .lng-col a{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        .lng-col a:hover{
            color: #0F0F0F;
            text-decoration-line: underline;
        }
    }
</style>
<div class="hidden-menu">
    <div class="hide-menu-col lng-col">
        <a style="color: #0F0F0F; text-decoration-line: underline" asp-route-culture="en-US" asp-controller="Map" asp-action="ChangeLanguage">@Language.GetKey("EnglishHeaderText")</a>
        <a style="color: #0F0F0F; text-decoration-line: underline" asp-route-culture="uk-UA" asp-controller="Map" asp-action="ChangeLanguage">@Language.GetKey("UkrainianHeaderText")</a>
    </div>
    <div class="hide-menu-col">
        <div class="hide-menu-small-text">
            Ваш гід архівом, впорядкований за вмістом написів, географією та обʼєктами, де були знайдені графіті
        </div>
        <a class="hide-menu-big-text" style="color: #0F0F0F; text-decoration-line: none" href="/Mark/Catalogue">ПОШУК</a>
    </div>
    <div class="hide-menu-col">
        <div class="hide-menu-small-text">
            Аналітика та рефлексії на базі матеріалів архіву
        </div>
        <a class="hide-menu-big-text" style="color: #0F0F0F; text-decoration-line: none" href="/Text/Catalogue">ТЕКСТИ</a>
    </div>
    <div class="hide-menu-col">
        <div class="hide-menu-small-text">
            Експерти, які долучилися до проєкту
        </div>
        <a class="hide-menu-big-text" style="color: #0F0F0F; text-decoration-line: none" asp-area="" asp-controller="Curator" asp-action="Catalogue">АВТОРИ</a>
    </div>
</div>