.table-header-revision-cluster-marks-number,
.table-body-revision-cluster-marks-column-number {
    width: 5%;
}

.table-header-revision-cluster-marks-name,
.table-body-revision-cluster-marks-column-name {
    width: 15%;
}

.table-header-revision-cluster-marks-description,
.table-body-revision-cluster-marks-column-description {
    width: 25%;
}

.table-header-revision-cluster-marks-photo,
.table-body-revision-cluster-marks-column-photo {
    width: 55%;
}

.table-body-revision-cluster-marks-column-photo-item {
    position: relative;
    max-width: 100%;
    max-height: 400px;
}

