@using SavageOrcs.Web.ViewModels.Text
@model FilterCatalogueTextViewModel
<link itemprop="url" rel="stylesheet" href="~/lib/search-select/search-select.css" />
<link itemprop="url" rel="stylesheet" href="~/css/text/textCatalogue.css" asp-append-version="true" />
<link itemprop="url" rel="stylesheet" href="~/css/checkBox.css" asp-append-version="true" />

<div class="row">
    <div class="col-md-3">
        <select name="curatorMultiselect" id="curatorMultiselect" multiple multiselect-search="true" multiselect-select-all="true" multiselect-hide-x="true">
            @foreach(var curator in Model.Curators){
                <option selected value=@curator.Id.ToString()>@curator.Name</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(m => m.TextName, new { @class = "text-box-custom form-control display-8-custom", @placeholder = "Назва тексту"})
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(m => m.TextSubject, new { @class = "text-box-custom form-control display-8-custom", @placeholder = "Тема тексту"})
    </div>
    <div class="col-md-3">
        <div class="row justify-content-end">
            <div class="col-md-auto">
                <button class="btn btn-dark-custom display-8-custom" id="search">Пошук</button>
            </div>
            <div class="col-md-auto">
                <button class="btn btn-dark-custom display-8-custom" id="clearFilters">Х</button>
            </div>
        </div>
    </div>

</div>

<div class="row pt-3">
    <div class="col-md-12 text-white-custom" id="catalogueTextTable">
        <div class="d-flex text-white-custom display-7-custom table-header-catalogue-text justify-content-center pb-2">
            <div class="table-header-catalogue-text-number">
                №
            </div>
            <div class="table-header-catalogue-text-name">
                Назва
            </div>
            <div class="table-header-catalogue-text-subject">
                Тема
            </div>
            <div class="table-header-catalogue-text-curator">
                Автор
            </div>
        </div>
        <div class="table-body-catalogue-text display-8-custom text-white-custom">
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/search-select/search-select.js"></script>

    <script>
        var catalogueTextView = new CatalogueTextView();

        catalogueTextView.Curators = @Json.Serialize(Model.Curators);

        $(document).ready(function () {
            catalogueTextView.InitializeControls();
        });

    </script>
}