@using SavageOrcs.Web.ViewModels.Text
@model UnitedCatalogueTextViewModel

<div class="wrapper-text-search">
    <div class="text-content-col">
        <div class="header-text-search-row">ТЕКСТИ</div>
        <div class="text-content-row">
            <div id="textContentPlaceholder"></div>
        </div>
    </div>
    <div class="text-data-col">
        <div class="description-header-text-search-row">
            Аналітика та рефлексії на базі матеріалів архіву
        </div>
        <div class="text-search-filter-row">
            <div class="text-search-filter-item">
                <div class="text-search-filter-multiselect-placeholder">
                    <select name="textNamesMultiselect" id="textNamesMultiselect" multiple multiselect-search="true" multiselect-select-all="true" multiselect-hide-x="true">
                        @foreach (var area in Model.TextNames)
                        {
                            <option value=@area.Id>@area.Name</option>
                        }
                    </select>
                </div>
                <div class="text-search-filter-big-text-info">Текст</div>
                <div class="text-search-filter-small-text-info">
                    <div class="text-container-big">Почність вводити назву матеріалу</div>
                </div>
            </div>
            <div class="text-search-filter-item">
                <div class="text-search-filter-multiselect-placeholder">
                    <select name="curatorsMultiselect" id="curatorsMultiselect" multiple multiselect-search="true" multiselect-select-all="true" multiselect-hide-x="true">
                        @foreach (var area in Model.Curators)
                        {
                            <option value=@area.Id>@area.Name</option>
                        }
                    </select>
                </div>
                <div class="text-search-filter-big-text-info">Автор</div>
                <div class="text-search-filter-small-text-info">
                    <div class="text-search-text-container-big">Почніть вводити ім'я автора</div>
                </div>
            </div>
        </div>
        <div class="text-search-data-table">
            @await Html.PartialAsync("_CatalogueDataRows", Model.Texts)
        </div>
    </div>
</div>
<div class="wrapper-search-bottom-text">
    <div class="bottom-text-row">
        <div class="bottom-text-col">
            Бажаєте опублікувати власні роботи?
        </div>
        <div class="bottom-text-col">Пишіть на скриню:</div>
    </div>
    <div class="bottom-text-row">
        <div class="bottom-text-col"></div>
        <div class="bottom-text-col">
            <a style="color: #FF2929" href="mailto:info@mizhvukhamy.com?subject=Application%20for%20joining%20the%20team">
                info@mizhvukhamy.com
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var catalogueTextView = new CatalogueTextView();

        $(document).ready(function () {
            catalogueTextView.InitializeControls();
        });

    </script>
}
