@using SavageOrcs.Web.ViewModels.Curator
@model CuratorViewModel[]
<div class="wrapper-search-curator">
    <div class="curator-data-col">
        <div class="curator-header-text">
            Автори
        </div>
        <div class="curator-data-row-container">
            @await Html.PartialAsync("_CatalogueDataRows", Model)
        </div>
    </div>
    <div class="curator-search-col">
        <div class="curator-filter-search-text">
            Експерти, які долучилися
            до проєкту
        </div>
        <div class="curator-filter-row">
            <div class="curator-filter-item">
                <div class="curator-filter-multiselect-placeholder">Мультиселект</div>
                <div class="curator-filter-big-text-info">Автор</div>
                <div class="curator-filter-small-text-info">
                    Почніть вводити ім'я автора
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper-search-bottom-text">
    <div class="bottom-text-row">
        <div class="bottom-text-col">
            Долучайтеся до команди авторів
        </div>
        <div class="bottom-text-col">Пишіть на скриню:</div>
    </div>
    <div class="bottom-text-row">
        <div class="bottom-text-col"></div>
        <div class="bottom-text-col">
            <a style="color: #FF2929" href="mailto:info@mizhvukhamy.com?subject=Application%20for%20joining%20the%20team">
                info@mizhvukhamy.com
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var catalogueCuratorView = new CatalogueCuratorView();

        $(document).ready(function () {
            catalogueCuratorView.InitializeControls();
        });

    </script>
}