.table-header-detail{
	background-color: rgb(4 107 28);
	height: 50px;
}

.table-header-detail-number,
.table-header-detail-name,
.table-header-detail-description,
.table-header-detail-area,
.table-header-detail-photo {
	padding-top: 8px;
	height: 50px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	text-align: center;
}

.table-header-detail-number,
.table-body-detail-column-number {
	width: 7%;
}
.table-header-detail-name,
.table-body-detail-column-name {
	width: 15%;
}
.table-header-detail-description,
.table-body-detail-column-description {
	width: 30%;
}
.table-header-detail-area,
.table-body-detail-column-area {
	width: 23%;
}
.table-header-detail-photo,
.table-body-detail-column-photo {
	width: 25%;
}

.table-body-detail-column-photo{
	justify-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.table-body-detail-column-photo-item {
	position: relative;
	max-width: 100%;
	max-height: 200px;
}


.table-header-detail-number,
.table-header-detail-name,
.table-header-detail-description,
.table-header-detail-area,
.table-body-detail-column-number,
.table-body-detail-column-name,
.table-body-detail-column-description,
.table-body-detail-column-area {
	border-right: 2px solid white;
}

.table-body-detail-column-number,
.table-body-detail-column-name,
.table-body-detail-column-description,
.table-body-detail-column-area,
.table-body-detail-column-photo {
	border-top: 2px solid white;
}
