.table-body-curator{
    color: white;
}

.table-header-curator {
    height: 50px;
    background-color: rgb(4 107 28);
}

.table-header-number-curator,
.table-header-role-name,
.table-header-role-status {
    padding-top: 8px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table-header-number-curator,
.table-header-role-name {
    border-right: 2px solid white;
}

#table {
    text-align: center;
}

.table-header-number-curator, .table-body-number-curator {
    width: 20%;
}

.table-header-role-name, .table-body-role-name {
    width: 60%;
}

.table-header-role-status, .table-body-role-status {
    width: 20%;
}

.table-body-number-curator,
.table-body-role-name,
.table-body-role-status {
    background-color: rgb(16, 17, 16);
    border-top: 2px solid white;
    padding: 5px;
}

.table-body-number-curator,
.table-body-role-name {
    border-right: 2px solid white;
}

