.table-body a, a:hover, a:active, a:visited {
    color: white;
}

.table-header {
    height: 50px;
    background-color: rgb(4 107 28);
}

.table-header-number,
.table-header-name,
.table-header-curator-status,
.table-header-email {
    padding-top: 8px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table-header-number,
.table-header-name,
.table-header-curator-status {
    border-right: 2px solid white;
}

#table {
    text-align: center;
}

.table-header-number, .table-body-column-number {
    width: 10%;
}

.table-header-name, .table-body-column-name {
    width: 35%;
}

.table-header-curator-status, .table-body-column-curator-status {
    width: 20%;
}

.table-header-email, .table-body-column-email {
    width: 35%;
}

.table-body-column-name-link {
    text-decoration: underline;
    cursor: pointer;
}

.table-body-column-number,
.table-body-column-name,
.table-body-column-curator-status,
.table-body-column-email {
    background-color: rgb(16, 17, 16);
    border-top: 2px solid white;
    padding: 5px;
}

.table-body-column-number,
.table-body-column-name,
.table-body-column-curator-status {
    border-right: 2px solid white;
}

