@media (min-width: 900px) {
    html {
        font-size: 14px;
        position: relative;
        min-height: 100%;
    }


    header {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 58px 0 0;
        width: 116px;
        z-index: 600;
        background-color: #FF2929;
        height: 100%;
    }

    .burger, .cross {
        width: 39px;
        height: 39px;
        position: absolute;
        left: 37px;
        top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }

    .cross {
        display: none;
    }

    .menu-line {
        position: relative;
        width: 34px;
        height: 0px;
        border: 3px solid #0F0F0F;
    }

    .logo-text {
        position: absolute;
        font-size: 60px;
        line-height: 60px;
        color: #0F0F0F;
        writing-mode: vertical-rl;
        transform: scale(-1, -1);
        font-weight: 500;
        /*height: 574px;*/
        height: 544px;
        width: 60px;
        top: 105px;
        left: 23px;
        text-transform: uppercase;
        cursor: pointer;
    }

    header a:hover {
        color: #0F0F0F;
        text-decoration: none;
    }

    .container-custom {
        position: relative;
        width: -webkit-calc(100% - 116px);
        width: -moz-calc(100% - 116px);
        width: calc(100% - 116px);
        left: 116px;
        background-color: #DEDCDC;
    }

    .wrapper-custom {
        width: 100%;
    }

    .info-container {
        height: 773px;
        width: 100%;
        padding-left: 64px;
        padding-right: 70px;
        padding-top: 32px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-image {
        position: absolute;
        width: 100%;
        max-height: 600px;
    }
    .main-image-mob{
        display:none;
    }

    .main-photo-info {
        color: #FFFFFF;
        z-index: 2;
        font-size: 14px;
        line-height: 178.5%;
    }

    .main-photo-info p {
        margin: 0px;
    }

    .main-text-info {
        width: 530px;
        z-index: 2;
        font-weight: 500;
        font-size: 48px;
        line-height: 53px;
        color: #FFFFFF;
    }

    .additional-text-info {
        color: #363636;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        line-height: 1.21;
    }

    .additional-text-info-col {
        font-weight: 400;
        width: 520px;
        height: 80px;
    }

    .map-container {
        padding-left: 64px;
        padding-right: 70px;
        height: 1019.19px;
        width: 100%;
        color: #0F0F0F;
    }

    .filter-container {
        height: 146px;
    }

    .filter-col {
        width: 33%;
        padding-right: 11%;
    }

    .filter-line {
        border: 1px solid #0F0F0F;
    }

    .filter-text {
        font-size: 18px;
        line-height: 22px;
    }

    #map {
        height: 690px;
        width: 100%
    }

    .email-container {
        padding-top:100px;
        height: 314px;
        padding-left: 64px;
        padding-right: 70px;
    }

    .email-col {
        justify-content: start;
        padding-bottom: 60px;
        display: flex;
        flex-direction: row;
        
    }

    .email-text-info-row {
        font-weight: 500;
        width: 45%;
        margin-right:5%;
        font-size: 34px;
        line-height: 46px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    .email-text-info-row a, .email-text-info-row a:hover {
        color: #FF2929
    }

    .form-container {
        position:relative;
        height: 240px;
        padding-left: 64px;
        padding-right: 70px;
        display:flex;
        flex-direction: row;
        justify-content:start;
        width:100%;
    }
    .form-col {
        position: relative;
        width: 45%;
        margin-right: 5%;
        font-size: 34px;
        line-height: 46px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
    }

    .from-text-info-row {
        width: -webkit-calc(100% - 132px);
        width: -moz-calc(100% - 132px);
        width: calc(100% - 132px);
        font-size: 34px;
        line-height: 46px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }



    footer {
        position: relative;
        width: -webkit-calc(100% - 116px);
        width: -moz-calc(100% - 116px);
        width: calc(100% - 116px);
        left: 116px;
        background-color: #0F0F0F;
        padding-left: 64px;
        padding-right: 70px;
        padding-top: 63px;
    }
    .footer-text{
        height:300px;
    }
    .footer-main-text {
        font-weight: 500;
        font-size: 38px;
        line-height: 46px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: white;
        width: 66%;
        padding-right: 28%;
    }

    .footer-copy-text {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: #363636;
        width: 33%;
    }

    .teams {
        border-left: 2px solid #363636;
        color: #363636;
        height: 327px;
        width: 33%;
        padding-left: 32px;
    }

    .footer-main-text a:hover {
        color: #FF2929
    }

    .team-text {
        width: 60%;
        height: 150px;
    }















    .flex-container-center-custom {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .bg-black-custom {
        background-color: rgb(16, 17, 16);
    }

    input[type="checkbox"]:checked {
        background: rgb(4 107 28);
    }



    #mapMarkAdd {
        z-index: 1;
        height: 500px;
        width: 100%;
    }

    #mapClusterAdd {
        z-index: 1;
        height: 600px;
        width: 100%;
    }

    #mapClusterRevision {
        z-index: 1;
        height: 600px;
        width: 100%;
    }

    .dropdown-item, .dropdown-toggle, .nav-link {
        text-decoration: none;
        font-weight: 800;
    }

    .logo-image-custom {
        height: 45px;
        width: 300px;
    }

    .area-for-custom {
        height: 125px;
    }


    .popup-custom, .popup-custom-image-fullScreen {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(16, 17, 16, 0.8);
        top: 0;
        left: 0;
        z-index: 100;
    }

    .popup-custom-image-fullScreen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #revisionImage {
        position: relative;
        max-height: 100%;
        max-width: 100%;
        height: 100%;
    }

    .popup-body-custom {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }

    .popup-content-custom {
        background-color: white;
        color: rgb(16, 17, 16);
        max-width: 800px;
        min-width: 500px;
        padding: 30px;
    }

    #alert-custom {
        position: fixed;
        z-index: 10000;
        width: 15%;
        height: 100px;
        top: 30px;
        left: 40%;
        color: white;
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #customPopUpGoTo {
        height: 30px;
        padding-top: 0px;
    }

    .alert-custom-success {
        background-color: darkgreen;
    }

    .alert-custom-error {
        background-color: firebrick;
    }

    .display-none-custom {
        display: none;
    }

    .flag-select-custom {
        cursor: pointer;
        height: 20px;
        width: 30px;
    }

    .image-revision-curator-custom {
        max-height: 500px;
        max-width: 90%;
    }

    .image-revision-mark-custom {
        max-height: 400px;
        max-width: 90%;
        cursor: pointer;
    }

    .curator-box {
        cursor: pointer;
    }
}




















/* Catalogue Mark */

