.wrapper-keyWords, .wrapper-places {
    padding-left: 64px;
    padding-right: 70px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


.keyWords-header-row, .places-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    height: 100px;
}

.keyWords-header-text, .places-header-text {
    width: 35%;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #0F0F0F;
}

.keyWords-header-actions, .places-header-actions {
    height: 90px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.keyWords-header-action-row, .places-header-action-row {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.keyWordControl, .placeControl {
    width: 40%;
}

.placeControlShort {
    width: 30%;
}
.placeButton {
    width: 15%;
}
.keyWordButton {
    width: 25%;
}


#keyWordContainer, #placeContainer {
    padding-bottom: 50px;
}

.keyWords-content-row, .places-content-row {
    width: 60%;
}

.places-content-row{
    padding-top: 30px;
}

.keyWord-row, .place-row {
    width: 130%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.keyWord-row .text-box-custom, .place-row .text-box-custom {
    width: 300px;
}
.places-delete-info {
    height: 35px;
    width: 70%;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #ff0000;
    padding-bottom: 30px;
}
