.table-body-short a, a:hover, a:active, a:visited {
    color: white;
}

.table-header-short {
    height: 50px;
    background-color: rgb(4 107 28);
}

.table-header-short-number,
.table-header-short-name,
.table-header-short-description,
.table-header-short-area {
    padding-top: 8px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table-header-short-number,
.table-header-short-name,
.table-header-short-description {
    border-right: 2px solid white;
}

#tableShort {
    text-align: center;
}

.table-header-short-number, .table-body-short-column-number {
    width: 8%;
}

.table-header-short-name, .table-body-short-column-name {
    width: 15%;
}

.table-header-short-description, .table-body-short-column-description {
    width: 51%;
}

.table-header-short-area, .table-body-short-column-area {
    width: 26%;
}

.table-body-short-column-name {
    text-decoration: underline;
    cursor: pointer;
}

.table-body-short-column-number,
.table-body-short-column-name,
.table-body-short-column-description,
.table-body-short-column-area {
    background-color: rgb(16, 17, 16);
    border-top: 2px solid white;
    padding: 5px;
}

.table-body-short-column-number,
.table-body-short-column-name,
.table-body-short-column-description {
    border-right: 2px solid white;
}

.button-short-column-area {
    cursor: pointer;
    background-color: rgb(16, 17, 16);
    text-decoration: underline;
    border: 0px;
    color: white;
    width: 100%;
    height: 50px;
    position: relative;
}
