@using SavageOrcs.Web.ViewModels.Mark
@model UnitedCatalogueViewModel

<style>
    .slideshow-container {
        width: 80%;
        height: 400px;
        position: relative;
    }
</style>

<div class="wrapper-search">
    <div class="photo-col">
        <div class="top-row">Пошук</div>
        <div class="image-placeholder">
            <div class="slideshow-container">
            </div>
        </div>
    </div>
    <div class="table-col">
        <div class="top-row">
            <div class="text-container-small">
                Ваш гід архівом, впорядкований за вмістом написів,
                географією та обʼєктами, де були знайдені графіті.
            </div>
        </div>
        <div class="mark-table">
            <div class="filter-row">
                <div class="filter-item-small"></div>
                <div class="filter-item">
                    <div class="filter-multiselect-placeholder">
                        <select name="namesMultiselect" id="namesMultiselect" multiple multiselect-search="true" multiselect-select-all="true" multiselect-hide-x="true">
                            @foreach (var area in Model.Names)
                            {
                                <option value=@area.Id>@area.Name</option>
                            }
                        </select>
                    </div>
                    <div class="filter-big-text-info">Текст напису</div>
                    <div class="filter-small-text-info">
                        <div class="text-container-big">Введіть слова, які має містити напис</div>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="filter-multiselect-placeholder">
                        <select name="areasMultiselect" id="areasMultiselect" multiple multiselect-search="true" multiselect-select-all="true" multiselect-hide-x="true">
                            @foreach (var area in Model.Areas)
                            {
                                <option value=@area.Id>@area.Name</option>
                            }
                        </select>
                    </div>
                    <div class="filter-big-text-info">Населений пункт</div>
                    <div class="filter-small-text-info">
                        <div class="text-container-big">Почніть вводити назву населеного пункту</div>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="filter-multiselect-placeholder">
                        <select name="placesMultiselect" id="placesMultiselect" multiple multiselect-search="true" multiselect-select-all="true" multiselect-hide-x="true">
                            @foreach (var keyWordAndMark in Model.Places)
                            {
                                <option value=@keyWordAndMark.Id>@keyWordAndMark.Name</option>
                            }
                        </select>
                    </div>
                    <div class="filter-big-text-info">Обʼєкт</div>
                    <div class="filter-small-text-info">
                        <div class="text-container-big"> Введіть локацію напису: школа, вокзал, магазин…</div>
                    </div>
                </div>
            </div>
            <div class="data-row-container">
                @await Html.PartialAsync("_CatalogueDataRows", Model.Marks)
            </div>
        </div>
    </div>
</div>
<div class="wrapper-search-bottom-text">
    <div class="bottom-text-row">
        <div class="bottom-text-col">
            Маєте матеріали
            для архіву?
        </div>
        <div class="bottom-text-col">Пишіть на скриню:</div>
    </div>
    <div class="bottom-text-row">
        <div class="bottom-text-col"></div>
        <div class="bottom-text-col">
            <a style="color: #FF2929" href="mailto:info@mizhvukhamy.com?subject=Application%20for%20joining%20the%20team">
                info@mizhvukhamy.com
            </a>
        </div>
    </div>
</div>


@section Scripts{


    <script>
        let slideIndex = 1;
        if ($(".mySlides").length) {
            showSlides(slideIndex);
        }

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }
        var catalogueMarkView = new CatalogueMarkView();

        $(document).ready(function () {
            catalogueMarkView.InitializeControls();
            $(".data-row-container").css("overflow-x", "hidden");
        });

    </script>
}
